h1= "Money Tracker for " + gameTitle
p
    Nothing{{" yet" + "!"}}
    ul(class="list-group")
        li(class="list-group-item")="Pictures"
        li(class="list-group-item")="Documents"
        li(class="list-group-item")="Music"
        li(class="list-group-item")="Videos"
