doctype html
html(lang="en", ng-app="App")
    head
        // css stylings
        link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
        //local css stylings
        link(rel="stylesheet", href="/stylesheets/style.css")

        // boilerplate
        meta(charset="UTF-8", name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="/javascripts/bootstrap.min.js") 

        // title in toolbar
        title PowerGrid MT

        // local scripts
        link(rel="shortcut icon", type="image/png", href="/images/favicon.ico")
        block scripts

    body(style='padding:0px')
        nav(class="navbar navbar-default")
            div(class="container-fluid")
                //Brand and toggle get grouped for better mobile display
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                        span(class="sr-only")= "Toggle navigation"
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="/")= "Money Tracker"
                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul(class="nav navbar-nav navbar-right")
                        li
                            a(href="/newgame")= "New Game"
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false")="Account"
                                span(class="caret")
                            ul(class="dropdown-menu" role="menu")
                                li
                                    a(href="/register")= "SignUp"
                                li(class="divider")
                                li
                                    a(href="/login")= "Login"
        block content
