extends layout

block content
    div(class="container-fluid", ng-hide="clicked")
        div(class="row-fluid")
            block title
            if signup
                h1(style="text-align:center")= "Sign Up"
            else
                h1(style="text-align:center")= "Login"
            p.lead 
            br
            div(class="jumbotron", style='margin:0 auto;max-width: 450px;')
                form(role='form', method="post", style='margin:0 auto; max-width: 300px;')
                    .form-group
                        input.form-control(type='text', name="username", placeholder='Enter Username')
                    br
                    .form-group
                        input.form-control(type='password', name="password", placeholder='Password')
                    block register
                    if message
                        div(style= "text-align:center" class="alert alert-"+ type +"" role="alert")= message
                        //alert-success
                        //alert-info"
                        //alert-warning
                        //alert-danger
                    h1= ""
                    button.btn.btn-default(type='submit') Submit &nbsp;
                    a(href='/')
                        button.btn.btn-primary(type="button" style="float:right") Cancel
            if signup
                p(style='text-align:center')= "Have an account? "
                    span
                        a(href="/login")= "Login Here"
            else    
                p(style='text-align:center')= "Dont have an account? "
                    span
                        a(href="/register")= "Register Here"
